*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #191919;
  min-width: 320px;
  min-height: 724px;
  margin: 2em auto;
}

header nav {
  display: block;
}

header nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav div img {
  aspect-ratio: 1 / 1;
  width: 10em;
  border-radius: 50%;
  border: 1px solid #e1ebf5;
  padding: 2px;
}

header nav div::before {
  content: 'Data Science';
  font-size: 1.5rem;
  font-family: "Water Brush", cursive;
  color: #e1ebf5;
}

header nav div::after {
  content: 'Fullstack Developer';
  font-size: 1.5rem;
  font-family: "Water Brush", cursive;
  color: #e1ebf5;
}

header nav ul {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  font-family: "Bebas Neue", cursive;
  color: #e1ebf5;
  text-decoration: none;
}

header nav ul li {
  display: none;
}

header nav ul a {
  text-decoration: none;
  color: #e1ebf5;
}

header nav ul .prev,
header nav ul .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 12px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

header nav ul .prev {
  left: 0;
  border: 3px 0 0 3px;
}

header nav ul .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main section p {
  font-family: "Roboto Condensed", sans-serif;
  color: #e1ebf5;
  text-align: justify;
  padding: 0 1em;
}

main section p span {
  color: #ffffe6;
}

main section p .arg:hover,
main section p .arg:active {
  -webkit-background-clip: text;
  background-image: linear-gradient(60deg, #1180e2 32%, #fbfbfb 49%, #fefe02 51%, #fbfbfb 66%, #1180e2 100%);
  background-clip: text;
  color: transparent;
}

main section p button {
  border: none;
  background: transparent;
  background-color: transparent;
  cursor: pointer;
}

main .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

main .about-me {
  display: none;
}

main .my-stack .tab {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px 0 5px 0;
}

main .my-stack .tab .stack-img img {
  filter: grayscale(100%);
  width: 3em;
  height: 3em;
}

main .my-stack .tab .stack-img img:hover, main .my-stack .tab .stack-img img:active {
  filter: grayscale(0%);
  transition: 500ms ease-out;
}

main .my-stack .tabcontent {
  display: none;
  grid-auto-flow: column;
  grid-template-columns: 100%;
}

main .my-stack .tabcontent .projects {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 100% 100%;
  overflow: hidden;
}

main .my-stack .tabcontent .projects .project-group {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.30rem;
  margin: 5px;
}

main .my-stack .tabcontent .projects .project-group div {
  border-radius: 0.25rem;
}

main .my-stack .tabcontent .projects .project-group div img {
  width: 100%;
  aspect-ratio: 16 / 9;
}
/*# sourceMappingURL=style.css.map */