$color--background: rgb(25, 25, 25);
$color--main: rgb(225, 235, 245);
$color--secondary: rgb(255, 255, 230);

$font--main: 'Bebas Neue',
cursive;
$font--primary: 'Roboto Condensed',
sans-serif;
$font--secondary: 'Water Brush',
cursive;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: $color--background;
  min-width: 320px;
  min-height: 637px;
  margin: 0;
  padding: 1em;
}

a {
  cursor: pointer;
}

header {
  nav {
    display: block;
    padding: 2em auto;

    div {

      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        aspect-ratio: 1 / 1;
        width: 10em;
        border-radius: 50%;
        border: 1px solid $color--main;
        padding: 2px;

      }

    }

    div::before {
      content: 'Data Science';
      font-size: 1.5rem;
      font-family: $font--secondary;
      color: $color--main;
    }

    div::after {
      content: 'Fullstack Developer';
      font-size: 1.5rem;
      font-family: $font--secondary;
      color: $color--main;
    }

    ul {
      position: relative;
      padding: 0;
      display: flex;
      justify-content: center;
      list-style: none;
      font-family: $font--main;
      color: $color--main;
      text-decoration: none;

      li {
        display: none;
      }

      a {
        text-decoration: none;
        color: $color--main;
      }

      .prev,
      .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 12px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }

      .prev {
        left: 0;
        border: 3px 0 0 3px;
      }

      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
    }

  }
}

main {

  section {

    iframe {
      display: none;
    }

    p {
      font-size: .95rem;
      font-family: $font--primary;
      color: $color--main;
      text-align: justify;
      padding: 0 1em;

      span {
        color: $color--secondary;
      }

      .arg:hover,
      .arg:active {
        -webkit-background-clip: text;
        background-image: linear-gradient(60deg, #1180e2 32%, #fbfbfb 49%, #fefe02 51%, #fbfbfb 66%, #1180e2 100%);
        background-clip: text;
        color: transparent;
      }

      button {
        border: none;
        background: transparent;
        background-color: transparent;
        cursor: pointer;
      }

    }

    input[type=text],
    input[type=email],
    select,
    textarea {
      font-family: $font--primary;
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 5px;
      resize: vertical;
    }

    textarea {
      height: 115px;
    }

    input[type=submit] {
      display: block;
      background-color: $color--main;
      color: $color--background;
      font-family: $font--primary;
      margin: auto;
      padding: 1em 2em;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type=submit]:hover {
      background-color: $color--secondary;
    }

    .container {
      border-radius: 5px;
      background-color: $color--background;
      padding: 1em;
    }
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  .about-me {
    display: none;
  }

  .my-stack {

    .tab {
      display: grid;
      grid-auto-flow: column;
      justify-items: center;
      align-items: center;
      margin: 5px 0;

      .stack-img {
        img {
          filter: grayscale(100%);
          width: 3em;
          height: 3em;

          &:hover,
          &:active {
            filter: grayscale(0%);
            transition: 500ms ease-out;
          }
        }
      }
    }

    .tabcontent {
      display: none;
      grid-auto-flow: column;
      grid-template-columns: 100%;
      margin-top: 1em;

      .projects {
        display: grid;
        grid-auto-flow: column;
        overflow: hidden;
        grid-template-columns: 100% 100%;
        scroll-behavior: smooth;

        .project-group {
          position: relative;
          display: grid;
          grid-template-columns: auto auto;
          padding: 5px;

          div {
            position: relative;
            padding: 2px;
            background-color: $color--background;
            z-index: 3;

            h1 {
              position: absolute;
              transform: translateY(-50%);
              margin: 0;
              top: 1em;
              left: 0.5em;
              color: $color--main;
              font-family: $font--main;
              text-decoration: underline;
              z-index: 5;
            }

            img {
              border-radius: 0.45rem;
              width: 100%;
              height: 100%;
              aspect-ratio: 16 / 9;
              opacity: 0.6;

              &:hover,
              &:active {
                border: 1px solid $color--main;
                opacity: 1;
              }
            }
          }

          .prev-group {
            position: absolute;
            text-decoration: none;
            size: 5em 5em;
            top: 40%;
            left: 0.4rem;
            padding: 0.75rem;
            background-color: rgb(0, 0, 0);
            opacity: 0.3;
            color: $color--main;
            z-index: 4;
          }

          .next-group {
            position: absolute;
            text-decoration: none;
            top: 40%;
            right: 0.4rem;
            padding: 0.75rem;
            background-color: rgb(0, 0, 0);
            opacity: 0.3;
            color: $color--main;
            z-index: 4;
          }

          .prev-group:active,
          .prev-group:hover,
          .next-group:hover,
          .next-group:active {
            opacity: 1;
          }
        }
      }
    }
  }
}

footer {

  position: fixed;
  width: 100%;
  height: 3em;
  left: 0;
  bottom: 0;

  .info {
    display: none;
  }

  .media {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid $color--main;
    padding: 0.5em;

    i {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;
      color: $color--main;

      &:hover,
      &:active {
        color: $color--secondary;
      }
    }
  }

}

//media queries

$tablet: 426px;
$laptop: 769px;

@media screen and (min-width: $tablet) {

  footer {
    .info {
      display: none;
    }

  }

  main {
    section {
      iframe {
        display: none;
      }
    }

    .my-stack {
      grid-template-columns: 15% 85%;
      grid-template-rows: 1fr 1fr 1fr;

      .tab {
        display: grid;
        grid-auto-flow: row;
        grid-column: 1;
        grid-row: 1/4;
        justify-items: center;
        align-items: center;
        height: 100%;

        .stack-img {
          img {
            filter: none;
          }
        }
      }

      #python {
        grid-row: 1;
        grid-column: 2/3;
      }

      #ruby {
        grid-row: 2;
        grid-column: 2/3;
      }

      #javascript {
        grid-row: 3;
        grid-column: 2/3;
      }

      .tabcontent {
        display: block;
        margin: 0;

        .projects {

          .project-group {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 0;
          }
        }
      }
    }
  }

  .container {
    text-align: center;
  }

  input[type=text],
  input[type=email],
  select,
  textarea {
    font-family: $font--primary;
    max-width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 5px;
    resize: vertical;
  }

  textarea {
    height: 115px;
  }

  input[type=submit] {
    display: block;
    background-color: $color--main;
    color: $color--background;
    font-family: $font--primary;
    margin: auto;
    padding: 1em 2em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: $color--secondary;
  }
}

@media screen and (min-width: $laptop) {
  body {
    margin: auto;
    max-width: 60%;
  }

  header {
    nav {
      ul {
        li {
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }

  main {
    section {
      justify-content: center;
      align-items: center;

      iframe {
        display: block;
        margin: 2em auto;
      }

      .my-stack {
        grid-template-columns: 15% 85%;
        grid-template-rows: 1fr 1fr 1fr;

        .tab {
          display: grid;
          grid-auto-flow: row;
          grid-column: 1;
          grid-row: 1/4;
          justify-items: center;
          align-items: center;
          height: 100%;

          .stack-img {
            img {
              filter: none;
            }
          }
        }

        #python {
          grid-row: 1;
          grid-column: 2/3;
        }

        #ruby {
          grid-row: 2;
          grid-column: 2/3;
        }

        #javascript {
          grid-row: 3;
          grid-column: 2/3;
        }

        .tabcontent {
          display: block;
          margin: 0;

          .projects {

            .project-group {
              grid-template-columns: 1fr 1fr 1fr 1fr;
              padding: 0;
            }
          }
        }
      }
    }
  }

  footer {

    display: flex;
    justify-content: space-around;
    border-top: 1px solid $color--main;

    .info {
      display: flex;
      justify-content: space-around;
      width: 60%;
    }

    .media {
      border: none;
      display: flex;
      justify-content: space-around;
      width: 40%;

      &:last-child {
        border-left: 1px solid gray;
      }
    }

    span {
      font-family: $font--primary;
      color: $color--main;
      padding: 1em;

    }
  }
}