*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --background-color: rgb(25, 25, 25);
  --main-color: rgb(255, 255, 255);
  --secondary-color: rgb(250, 250, 180);
  
  --main-font: 'Roboto Condensed', sans-serif;
  --secondary-font: 'Bebas Neue', cursive;
  --third-font: 'Water Brush', cursive;
}

body {
  background-color: var(--background-color);
  color: var(--main-color);
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--secondary-font);
}

ul > li > a {
  text-decoration: none;
  color: var(--main-color)
}

li > img {
  padding: 2px;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 1px solid var(--main-color);
}

li > span {
  display: block;
  text-align: center;
  font-family: var(--third-font);
  font-size: 1.5rem;
  margin-top: 2px;
}
 